html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="A silly thing made with NodeJS Express and perseverance")
    title Imperial Converter by Alex K
    link(rel="stylesheet" href="/style.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous")
    script(src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin)
    script(src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin)
    script(src="https://unpkg.com/babel-standalone@6/babel.min.js" crossorigin)
  body
    article
      header
        h1 Imperial Converter
      main
        #app
    hr
    aside#usage
      h2 Usage:
      p Convert most used metric and imperial measure units.
      p Currently accepted units are:
      table
        tr
          th abbr
          th corresp
        tr
          td km 
          td kilometre
        tr
          td mi 
          td mile
        tr
          td ft
          td foot
        tr
          td m
          td metre
        tr
          td cm 
          td centimetre
        tr
          td in  
          td inch
        tr
          td yd
          td yard
        tr
          td ac
          td acre
        tr
          td sqm
          td square metre
        tr
          td pt
          td pint
        tr
          td gal
          td gallon
        tr
          td l
          td litre
        tr
          td oz
          td ounce
        tr
          td lb
          td pound
        tr 
          td kg
          td kilogram
        tr
          td g
          td gram
    script(src='/script.js' type="text/babel")
